@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  
  font-family: 'Montserrat', sans-serif;

}

nav li {
  padding: 0.5rem;
  border-radius: 50%;
  border: 5px solid transparent;
}
nav li:hover {
  /* background-color: rgb(3, 112, 51); */
  border-color: rgb(34 211 238);
  transition: 500ms;
}
 a.link-hover:hover {
  background-color: rgb(225, 74, 74);
  padding: 0.3rem;
  border-radius: 20px;
  color: rgb(225, 74, 74); 
  transition: 300ms;
  
}
.active-nav {
  border-color: rgb(34 211 238);
}

.fullName {
  font-weight:bolder;
}

